html, body {
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

#topbuttons {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 400;
}

#bottomcenter {
    margin: 10;
    position: absolute;
    bottom: 5px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 400;
}